<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.durian.user.agent.mapper.UserRelationMapper">
  <resultMap id="BaseResultMap" type="com.durian.user.agent.domain.po.UserRelation">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="agent_name" jdbcType="VARCHAR" property="agentName" />
    <result column="inviter_id" jdbcType="VARCHAR" property="inviterId" />
    <result column="invitee_id" jdbcType="VARCHAR" property="inviteeId" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="del_tag" jdbcType="CHAR" property="delTag" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />

  </resultMap>
  <sql id="Base_Column_List">
    id, dept_code,dept_id,agent_name,inviter_id, invitee_id, status,del_tag,create_time,update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_agent_relation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_agent_relation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.durian.user.agent.domain.po.UserRelation">
    insert into t_user_agent_relation (id, dept_code,dept_id, agent_name,inviter_id, invitee_id,status,del_tag,create_time,update_time)
    values (#{id,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR},#{deptId,jdbcType=VARCHAR},#{agentName,jdbcType=VARCHAR},#{inviterId,jdbcType=VARCHAR}, #{inviteeId,jdbcType=VARCHAR},#{status,jdbcType=VARCHAR},#{delTag,jdbcType=CHAR},#{createTime,jdbcType=BIGINT},#{updateTime,jdbcType=BIGINT}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.durian.user.agent.domain.po.UserRelation">
    insert into t_user_agent_relation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="deptId != null">
        dept_id,
      </if>
      <if test="agentName != null">
        agent_name,
      </if>
      <if test="inviterId != null">
        inviter_id,
      </if>
      <if test="inviteeId != null">
        invitee_id,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="delTag != null">
        del_tag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="agentName != null">
        #{agentName,jdbcType=VARCHAR},
      </if>
      <if test="inviterId != null">
        #{inviterId,jdbcType=VARCHAR},
      </if>
      <if test="inviteeId != null">
        #{inviteeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="delTag != null">
        #{delTag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.durian.user.agent.domain.po.UserRelation">
    update t_user_agent_relation
    <set>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null">
        dept_id = #{deptId,jdbcType=VARCHAR},
      </if>
      <if test="inviterId != null">
        inviter_id = #{inviterId,jdbcType=VARCHAR},
      </if>
      <if test="inviteeId != null">
        invitee_id = #{inviteeId,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="delTag != null">
        del_tag = #{delTag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.durian.user.agent.domain.po.UserRelation">
    update t_user_agent_relation
    set inviter_id = #{inviterId,jdbcType=VARCHAR},
      invitee_id = #{inviteeId,jdbcType=VARCHAR},
      del_tag = #{delTag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="updateRelationInfo" parameterType="com.durian.user.agent.domain.po.UserRelation">
    update t_user_agent_relation
    set status = '1' ,
        agent_name = #{agentName,jdbcType=VARCHAR}
    where inviter_Id = #{inviterId,jdbcType=VARCHAR}
  </update>

  <select id="selectUserAgentInfo" parameterType="java.lang.String" resultType="java.util.Map">
        select * from t_user_agent_relation where inviter_id in(#{userId})
  </select>

  <select id="selectUserAgent2Info" parameterType="java.lang.String" resultType="java.util.Map">
      select *  from t_user_agent_relation where inviter_id in(
      select invitee_id from t_user_agent_relation where inviter_id in(#{userId}))
  </select>

  <select id="selectUserAgent3Info" parameterType="java.lang.String" resultType="java.util.Map">
    select * from t_user_agent_relation where inviter_id in(
        select invitee_id  from t_user_agent_relation where inviter_id in(
            select invitee_id from t_user_agent_relation where inviter_id in(#{userId})))
  </select>

  <select id="selectBrokerageInfo" parameterType="java.lang.String" resultType="com.durian.user.agent.domain.po.UserRelation">
      select * from t_user_agent_relation where invitee_id in(#{userId})
  </select>

  <select id="selectBrokerage2Info" parameterType="java.lang.String" resultType="com.durian.user.agent.domain.po.UserRelation">
    select *  from t_user_agent_relation where invitee_id in(
      select inviter_id from t_user_agent_relation where invitee_id in(#{userId}))
  </select>

  <select id="selectBrokerage3Info" parameterType="java.lang.String" resultType="com.durian.user.agent.domain.po.UserRelation">
    select * from t_user_agent_relation where invitee_id in(
      select inviter_id  from t_user_agent_relation where invitee_id in(
        select inviter_id from t_user_agent_relation where invitee_id in(#{userId})))
  </select>
</mapper>