<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.durian.user.capital.mapper.UserCapitalMapper">
    <insert id="insertUserCapital" parameterType="com.durian.user.capital.domain.po.UserCapital">
        insert into t_user_capital (
        <trim suffix="" suffixOverrides=",">
            <if test="id            != null">id,</if>
            <if test="userId     != null">user_id,</if>
            <if test="amount    != null">amount,</if>
            <if test="status      != null">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        ) values (
        <trim suffix="" suffixOverrides=",">
            <if test="id         != null">#{id},</if>
            <if test="userId     != null">#{userId},</if>
            <if test="amount    != null">#{amount},</if>
            <if test="status      != null">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
        )
    </insert>

    <select id="selectUserCapital" parameterType="java.lang.String" resultType="com.durian.user.capital.domain.po.UserCapital">
        select
            id as id,
            user_id as userId,
            amount as amount,
            status as status,
            create_time as createTime,
            update_time as modifyTime
        from t_user_capital where user_id = #{userId}
    </select>

    <!-- 批量查询用户资金-->
    <select id="selectUserCapital" parameterType="java.util.List" resultType="com.durian.user.capital.domain.po.UserCapital">
        select
        id as id,
        user_id as userId,
        amount as amount,
        status as status,
        create_time as createTime,
        update_time as modifyTime
        from t_user_capital where user_id IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">#{item.userId}</foreach>
    </select>

    <update id="updateUserCapital" parameterType="com.durian.user.capital.domain.po.UserCapital">
        update t_user_capital
        set
            <trim suffix="" suffixOverrides=",">
                <if test="amount != null">      amount  = #{amount},</if>
                <if test="status != null">      status  = #{status},</if>
                update_time = #{updateTime},
            </trim>
        where user_id = #{userId}
    </update>

    <update id="updateUserCapital" parameterType="com.durian.user.capital.domain.po.UserBilling">
        update t_user_capital
        set
        <trim suffix="" suffixOverrides=",">
            <if test="operate == 'add'">      amount  = amount + #{amount},</if>
            <if test="operate == 'subtract'">amount  = amount - #{amount},</if>
            update_time = #{updateTime},
        </trim>
        where user_id = #{userId}
    </update>

    <!-- 批量更新用户资金-->
    <update id="updateUserCapital" parameterType="java.util.List">
        <foreach collection="list" index="index" item="item" separator=",">
            update t_user_capital set
            <trim suffix="" suffixOverrides=",">
                <if test="item.operate == 'add'">      amount  = amount + #{item.amount},</if>
                <if test="item.operate == 'subtract'">amount  = amount - #{item.amount},</if>
                update_time = #{item.updateTime},
            </trim>
            where user_id = #{item.userId}
        </foreach>
    </update>

    <insert id="insertUserBilling" parameterType="com.durian.user.capital.domain.po.UserBilling">
        insert into t_user_capital_billing (
            user_id,amount,balance,operate,purpose,correlation,description,create_time,
        ) values (
            #{userId}, #{amount}, #{balance}, #{operate}, #{purpose}, #{correlation}, #{description}, #{createTime},
        )
    </insert>

    <!-- 批量插入用户流水-->
    <insert id="insertUserBilling" parameterType="java.util.List">
        insert into t_user_capital_billing (user_id,amount,balance,operate,purpose,correlation,description,create_time)
        values
          <foreach collection="list" index="index" item="item" separator=",">
              (#{item.userId}, #{item.amount}, #{item.balance}, #{item.operate}, #{item.purpose}, #{item.correlation}, #{item.description}, #{item.createTime})
          </foreach>
    </insert>
</mapper>