<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.durian.user.mapper.UserFeedbackMapper">
    <resultMap id="BaseResultMap" type="com.durian.user.domain.po.UserFeedback">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="keyword" jdbcType="VARCHAR" property="keyword" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="type" jdbcType="CHAR" property="type" />
        <result column="create_time" jdbcType="BIGINT" property="createTime" />
        <result column="update_time" jdbcType="BIGINT" property="updateTime" />
        <result column="del_tag" jdbcType="CHAR" property="delTag" />
    </resultMap>
    <sql id="Base_Column_List">
        id, keyword, description, type, create_time,update_time, del_tag
    </sql>
    <select id="selectByPrimaryKey" parameterType="com.durian.user.domain.po.UserFeedback" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_feedback
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from t_feedback
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="insertSelective" parameterType="com.durian.user.domain.po.UserFeedback">
        insert into t_feedback
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="keyword != null">
                keyword,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="delTag != null">
                del_tag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="keyword != null">
                #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="delTag != null">
                #{delTag,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.durian.user.domain.po.UserFeedback">
        update t_feedback
        <set>
            <if test="keyword != null">
                keyword = #{keyword,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=CHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="delTag != null">
                del_tag = #{delTag,jdbcType=CHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="selectByType" parameterType="com.durian.user.domain.po.UserFeedback" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_feedback
        where 1=1
        <trim suffixOverrides=",">
        <if test="id != null">
         AND  id = #{id,jdbcType=BIGINT},
        </if>
        <if test="keyword != null">
          AND keyword = #{keyword,jdbcType=VARCHAR},
        </if>
        <if test="description != null">
          AND description = #{description,jdbcType=VARCHAR},
        </if>
        <if test="type != null">
          AND type = #{type,jdbcType=CHAR},
        </if>
        <if test="createTime != null">
          AND create_time = #{createTime,jdbcType=BIGINT},
        </if>
        <if test="updateTime != null">
          AND update_time = #{updateTime,jdbcType=BIGINT},
        </if>
        <if test="delTag != null">
          AND del_tag = #{delTag,jdbcType=CHAR},
        </if>
        </trim>
    </select>

    <select id="queryCode" parameterType="java.lang.String"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_feedback
        where type = #{type,jdbcType=CHAR} AND del_tag="0"
    </select>
</mapper>