<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.durian.user.mapper.UserOauthMapper">
  <resultMap id="BaseResultMap" type="com.durian.user.domain.po.UserOauth">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="app_id" jdbcType="VARCHAR" property="appId" />
    <result column="app_token" jdbcType="VARCHAR" property="appToken" />
    <result column="login_time" jdbcType="TIMESTAMP" property="loginTime" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
    <result column="del_tag" jdbcType="CHAR" property="delTag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, app_type, app_id, app_token, login_time, create_time, update_time, del_tag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_user_oauth
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user_oauth
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.durian.user.domain.po.UserOauth">
    insert into t_user_oauth (id, user_id, app_type,
    app_id, app_token, login_time,
    create_time, update_time, del_tag
    )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR},
    #{appId,jdbcType=VARCHAR}, #{appToken,jdbcType=VARCHAR}, #{loginTime,jdbcType=TIMESTAMP},
    #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{delTag,jdbcType=CHAR}
    )
  </insert>
  <insert id="insertSelective" parameterType="com.durian.user.domain.po.UserOauth">
    insert into t_user_oauth
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="appType != null">
        app_type,
      </if>
      <if test="appId != null">
        app_id,
      </if>
      <if test="appToken != null">
        app_token,
      </if>
      <if test="loginTime != null">
        login_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="delTag != null">
        del_tag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null">
        #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="delTag != null">
        #{delTag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.durian.user.domain.po.UserOauth">
    update t_user_oauth
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="appType != null">
        app_type = #{appType,jdbcType=VARCHAR},
      </if>
      <if test="appId != null">
        app_id = #{appId,jdbcType=VARCHAR},
      </if>
      <if test="appToken != null">
        app_token = #{appToken,jdbcType=VARCHAR},
      </if>
      <if test="loginTime != null">
        login_time = #{loginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="delTag != null">
        del_tag = #{delTag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.durian.user.domain.po.UserOauth">
    update t_user_oauth
    set user_id = #{userId,jdbcType=VARCHAR},
      app_type = #{appType,jdbcType=VARCHAR},
      app_id = #{appId,jdbcType=VARCHAR},
      app_token = #{appToken,jdbcType=VARCHAR},
      login_time = #{loginTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=BIGINT},
      del_tag = #{delTag,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>